{
  "presets": [
    [ "env", {
      "targets": {
        "node": 8
      },
      "modules": false,
      "useBuiltIns": true
    } ]
  ],
  "plugins": [ "transform-object-rest-spread" ],
  "comments": false
}
